.link {
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .link:hover {
    color: yellow;
  }
  
  .active-link {
    color: yellow;
    font-weight: bold;
    border-bottom: 2px solid yellow;
  }
  